@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Courgette');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn+SC:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;900&family=Open+Sans:wght@500&display=swap');

@font-face {
    font-family: 'Dosis';
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/dosis/v19/HhyaU5sn9vOmLzloC_U.woff2) format('woff2');
}
@font-face {
    font-family: 'Catamaran';
    font-weight: 200;
    src: url(https://fonts.gstatic.com/s/catamaran/v8/o-0IIpQoyXQa2RxT7-5r5TRA.woff2) format('woff2');
}
@font-face {
    font-family: 'Nunito';
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/nunito/v16/XRXW3I6Li01BKofAnsSUYevI.woff2) format('woff2');
}

[v-cloak] { display: none !important; }

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  /*-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline:none;
  */
  max-width: 100%;
  position:relative;
  /*font-family: "Montserrat", sans-serif;
  font-family: 'Courgette', sans-serif;
  font-family: 'Rubik', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Vollkorn SC', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Merriweather Sans', sans-serif;
  font-family: 'Open Sans', sans-serif;*/
  font-family: 'Inter', sans-serif;
}

html,
body {
  overflow-x: hidden;
  overflow-y: overlay;
}
body{
    margin:0;
    padding: 0;
    /*background: rgb(243,243,242);*/
    background: rgb(246,247,255);
}
.body-scroll-disabled {
    overflow: hidden;
}

textarea{
    min-height: 120px;
    resize:vertical !important;
}
input[type=submit]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input[type="checkbox"] {
    width: 16px;
    height: 16px;
}
select{
    background: url("../images/arrow_d.png") no-repeat right white;
    background-size: 10px 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-position-x: 97%;
}

.e404{
    padding:60px 0px 60px 0px;
    text-align: center;
}

.page{
    width:100%;
}
.page > div{
    width:var(--width);
    max-width:95%;
    margin:auto;
}
.page_num{
    margin:30px 0px 30px 0px;
    display:flex;
    justify-content:center;
    column-gap:20px;
}
.page_num > span,
.page_num > a{
    text-decoration: none;
    color:black;
    font-size:20px;
    cursor: pointer;
}
.page_num > .selected{
    text-decoration: underline;
    color:rgb(var(--main-color));
    font-weight:bold;
}


#sortable {
    display:flex;
    overflow-x: auto;
    column-gap: 10px;
    row-gap: 10px;
    min-height:200px;
}
#sortable > div{
    border:2px solid rgba(0,0,0,0.1);
    border-radius:var(--radius);
    transition: 0.3s;
    width:140px;
    min-width:140px;
    max-width:140px;
}
#sortable > div:hover{
    border-color:rgba(var(--main-color));
}
#sortable div div{
    position:absolute;
    top:5%;
    right:5%;
    display: flex;
    background-color: white;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	width: 15%;
	height: 15%;
    font-size: 16px;
    color:rgb(var(--main-color));
    cursor: pointer;
    transition: 0.3s;
    vertical-align: middle;
}
#sortable div img{
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius:var(--radius);
}


header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    transition: 0.8s;
    z-index:10;
    padding:4px 0px 4px 0px;
    transform: 0.4s;
}
header > div {
    width: var(--width);
    max-width: 94%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .hl{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .hl,
header .hl .logo{
    flex:1;
}
header .hl .logo img{
    height:30px;
    vertical-align: middle;
    margin:auto;
    filter: brightness(0%) invert(1);
    transition: 0.3s;
}
header .hl > div{
    height:100%;
    padding:12px 0px 12px 0px
}
header .hl > div:last-child{
    height:100%;
    line-height:100%;
    display:flex;
    column-gap:25px;
}
header .hl > div:nth-child(2) > div:nth-child(1),
header .hl > div:nth-child(2) > div:nth-child(2){
    display:none;
}
header .hl > div:nth-child(2) i{
    font-size:20px;
    color:white;
}
header .hl > div:nth-child(2) .circle{
    top:-5px;
    left:17px;
    position:absolute;
}
header .hl > div:last-child > div:nth-child(2){

}
header .hn {
    display: flex;
}
header .hn > div{
    height:fit-content;
    display: flex;
    column-gap: 15px;
    transition: 0.3s;
}
header .hn > div:nth-child(1){
    padding-right:15px;
}
header .hn > div:nth-child(2){
    padding-left:14px;
}
header .hn div,
header .hn a{
    text-decoration: none;
    color:white;

    transition: 0.3s;
    cursor:pointer;
    line-height:35px;
}
header .hn i{
    margin-right:5px;
}
header .circle{
	display: inline-flex;
    position:relative;
    bottom:4px;
    background: rgb(var(--second-color));
}
.header{
    transform: 0.4s;
    background: rgb(219,150,31);
    background: linear-gradient(90deg, rgba(219,150,31,1) 0%, rgba(219,163,31,1) 100%);
    background: rgba(var(--main-color,0.9));
    background: #3a83b0;
    box-shadow: 0px 2px 8px 5px rgba(99, 99, 99, 0.2);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
.header .hl .logo img{
    /*filter: invert(63%) sepia(32%) saturate(844%) hue-rotate(164deg) brightness(90%) contrast(97%);*/
}
@media screen and (max-width: 1000px) {

    header > div{
        flex-direction: column;
        width:100%;
        max-width: 100%;
    }
    header > div > div{
        width:100%
    }
    header > div > .hl{
        max-width:94%;
        padding:0px 0px 0px 0px;
    }
    header .hl > div:nth-child(2) > div:nth-child(1),
    header .hl > div:nth-child(2) > div:nth-child(2){
        display:inline-block;
    }
    header div .hn{
        flex-direction: column;
        display: none;
        overflow: auto;
        padding-bottom:10px;
    }
    header div .hn > div{
        flex-direction: column;
        width:100%;
        padding-top:20px;
    }
    header .hn div:last-child div,
    header .hn > div > a{
        width:100%;
        padding:6px 0px 6px 15px;
    }
    header .hn div:last-child div:hover,
    header .hn > div > a:hover{
        background:rgba(44,44,44,0.1);
    }

    header .hn > div:last-child{
        padding:0 0 0 0;
        margin-top:20px;
    }
    header .circle{
        position:relative;
        display: inline-flex;
        top:-2px;
        left:2px;
    }
}


.circle{
	display: flex;
    background:rgb(var(--main-color));
    color: white;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	width: 20px;
	height: 20px;
    font-size: 12px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}
.circle a{
    text-decoration: none;
}


#bars{
    display: none;
    width: fit-content;
    height: 100%;
    margin-right:2px;
 
}
.bars {
    display: none;
    width: 32px;
    height: 20px;
    cursor: pointer;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    -webkit-tap-highlight-color: transparent;
}
.bars span {
    position: absolute;
    left: 0;
    height: 18%;
    width: 100%;
    background: rgb(255, 255, 255, 1);
    border-radius: var(--radius);
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transition: 0.25s ease-in-out;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    background-color: white;
}
.bars span:nth-child(1) {
top: 0;
}
.bars span:nth-child(2),
.bars span:nth-child(3) {
top: 40%;
}
.bars span:nth-child(4) {
top: 80%;
}
.open span:nth-child(1) {
left: 50%;
top: 50%;
width: 0%;
}
.open span:nth-child(4) {
left: 50%;
top: 50%;
width: 0%;
}
.open span:nth-child(2) {
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
}
.open span:nth-child(3) {
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
}
@media screen and (max-width: 1000px) {
    .bars{
        display:block;
    }
    #bars{
        top:0;
        right:0;
        display: flex;
        align-items: center;
    }
}


.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 20;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.modal_bg {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    background: rgba(0,0,0, 0.7);
    width: 100%;
    height: 100%;
    position:absolute;
    top:0;
    left:0;
    z-index:18;
}
.modal_window {
    background: white;
    border-radius: var(--radius);
    width:500px;
    max-width:96%;
    max-height: 90%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    z-index:20;
}
.modal_header {
    border-bottom:1px solid rgba(0,0,0,0.1);
    padding: 0px 15px 0px 15px;
    display: flex;
    align-items: center;
}
.modal_header > h3 {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    flex:1;
}
.modal_header i {
    font-size: 20px;
    opacity:0.8;
    cursor: pointer;
}
.modal_body {
    padding: 12px;
    max-height: 100%;
    text-align: left;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    row-gap:15px;
}
.modal_body > form{
    display: flex;
    flex-direction: column;
    row-gap:15px;
}
.modal_footer {
    padding: 12px;
    border-top:1px solid rgba(0,0,0,0.1);
}
@media screen and (max-width: 500px) {
    .modal {
        align-items: flex-start;
    }
    .modal_window {
        margin-top:5%;
        max-height:80%;
    }
}


.deactivated{
    opacity: 0.5 !important;
}



.fl{
    position: relative;
}
.fl label{
    left: 14px;
    position: absolute;
    box-sizing: border-box;
    top: 1px;
    color:gray;
    opacity: 0;
    z-index:-1;
    transition: all 0.1s ease-out;
    font-size:12px;
}
.fl input:not(:placeholder-shown) + label,
.fl select:not(:placeholder-shown) + label,
.fl textarea:not(:placeholder-shown) + label {
    background: #FFF;
    transform: translate(0, -50%);
    opacity: 1;
    z-index: 1;
}

.field{
    display: block;
    padding:14px;
    font-size:14px;
    border:1px solid rgba(0,0,0,0.2);
    border-radius:var(--radius);
    resize: vertical;
    transition: 0.3s;
    width: 100%;
    color:rgba(0,0,0,0.8);
    resize: none;
}
.field[type=color]{
    height:40px;
    padding:2px 10px 2px 10px;
}
.field:focus{
    outline: none;
    border-color: rgb(var(--main-color));
    color:rgb(var(--main-color));
}
.field:focus + label {
    color: rgb(var(--main-color));
  }
.field:focus::-webkit-input-placeholder {
    font-size:14px;
    color:rgb(var(--main-color));
}
.field:-webkit-autofill,
.field:-webkit-autofill:hover, 
.field:-webkit-autofill:focus, 
.field:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.button{
    font-size:14px;
    padding:12px 22px 12px 22px;
    border-radius:var(--radius);
    border: none;
    background: rgb(var(--main-color));
    color:white;
    cursor: pointer;
    text-decoration: none;
    display:flex;
    column-gap: 5px;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
    white-space: nowrap
}
.button2{
    background: rgb(var(--second-color));   
}
.button3{
    border:2px solid rgb(var(--main-color));
    border-width: 2px;
    color:rgb(var(--main-color));
    background: none;   
}
.button:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 3px 6px 8px;
}

.input_button{
    display:flex;
}
.input_button .field{
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
    border-right:none;
    flex:1;
}
.input_button .button{
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
    border-left:none;
    box-shadow:none
}






.bg{
    background-image: url("../images/bg1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height:170px;
}
.bg > div:nth-child(1){
    background: rgba(var(--main-color),0.6);
    width:100%;
    height:100%;
    position:absolute;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}
.bg > div:nth-child(2){
    text-align: center;
    padding-top:20px;
}
.bg p,
.bg h2{
    font-size: 40px;
    font-weight: bold;
    color:white;
    z-index:8;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 1; 
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    width:100%;
    margin-bottom:-10px;
}
.bg .button{
    font-size:12px;
    padding:6px;
    width: fit-content;
    display: inline-block;
}
@media screen and (max-width: 500px) {
    .bg > div:nth-child(2){
        padding-top:40px;
    }
    .bg p,
    .bg h2{
        font-size: 30px;
    }
}

.cc{
    overflow:hidden;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
  
.c404{
    padding:100px 0px 80px 0px;
    text-align: center;
}


.search{
    align-items: flex-start;
}
.search .modal_window {
    margin:auto;
}
.search .modal_window{
    bottom:50px;background: red;
}
.search{
}
.search div:last-child{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search h2{
    width:100%;
    margin-bottom:20px;
    color:white;
    text-align: center;
    z-index:23;
    font-size:30px;
}
.search .input_button{
    max-width:96%;
    width:400px;
}
.search .field{
    min-width:50%;
}
@media screen and (max-width: 20cm) {
    .info div a{
        width:100%;
        text-align: center;
    }
}


.swiper {
    width: 100%;
    height: 100%;
}
.swiper .swiper_wrapper{
}
.swiper .swiper_container{
    overflow: hidden;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}
/*.swiper-button-prev,
.swiper-button-next {
    color:rgba(255,255,255,0.9) !important;
    transition: 0.5s;
    font-weight: bold !important;
    z-index: 2;
}
.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 20px;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
    color:rgba(var(--main-color),1) !important;
}*/
.swiper-pagination-bullet-active {
    background: rgb(var(--main-color));
    transform: scale(1.4);
}

.route{
    display:flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    column-gap:5px;
    align-items: center;
    width:var(--width);
    margin:80px auto 20px auto;
    color:rgba(0,0,0,0.6);
    max-width: 96%;
    font-size: 14px;
}
.route::-webkit-scrollbar {
    background-color: transparent;
}
.route a{
    color:rgba(0,0,0,0.6);
    text-decoration: none;
    transition: 0.3s;
    font-size: 14px;
    white-space: nowrap;
}
.route a:hover{
    text-decoration: underline;
    color:rgb(var(--second-color));
}
.route > div:last-child{
    color:rgb(var(--second-color));
    max-width: 20ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}



.index{
    background: rgb(242,242,247);
    background: rgb(246,247,255);
}
.index .swiper-slide{
    height:500px;
}
.index .swiper-slide h1{
    color:white;
    font-size:50px;
    margin-bottom:0px;
}
.index .swiper-slide p{
    color:white;
    margin:10px 0 20px 0;
    line-height:140%;
}
.index .swiper-slide .button{
    transform-origin: 0 0;
    font-size: 18px;
}
.index .swiper_index .swiper-slide > div:nth-child(1){
    background: rgba(var(--main-color),0.6);
    width:100%;
    height:100%;
    position:absolute;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}
.index .swiper_index .swiper-slide > div:nth-child(2){
    z-index:10;
    background-color: rgba(0,0,0,0.4);
    padding:180px 0px 140px 0px;
    width:100%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}
.index .slide1{
    background-image: url("../images/bg1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.index .slide2{
    background-image: url("../images/bg2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (max-width: 1000px) {
    .index{
    }
    .index .swiper-slide h1{
        font-size:40px;
    }
    .index .swiper_index .swiper-slide > div:nth-child(2){
    }
}
@media screen and (max-width: 800px) {
    .index .swiper-slide h1{
        font-size:40px;
    }
}
@media screen and (max-width: 300px) {
    .index .swiper-slide h1{
        font-size:30px;
    }
    .index .swiper-slide p{
        font-size: 18px;
    }
}


.product_swiper{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:60px 0px 40px 0px;
    overflow: visible !important;
}
.product_swiper > h2{
    font-size:28px;
    color:rgb(51,51,51);
    text-align: center;
}
.product_swiper .swiper_products{
    margin:40px 0px 40px 0px;
}
.product_swiper > .button{

}
.product_swiper .swiper-slide{
    width:300px;
    max-width: 96%;
}
.product_swiper .swiper-wrapper{
    padding-bottom: 64px;
}
.product_swiper .swiper-paginationt {

}
.product_swiper .product_box{
    width:90%;
    height: fit-content;
}
@media screen and (max-width: 400px) {
    .product_swiper .product_box{
        width:100%;
    }
}

.info_row{
    display:grid;
    row-gap:50px;
    column-gap:10px;
    margin:auto;
    width:var(--width);
    max-width:96%;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    padding:0px 0px 90px 0px;
}
.info_row > div{
    text-align: center;
}
.info_row > div > div:nth-child(2){
    margin:10px 0px 0px 0px;
}
.info_row i{
    color:rgb(var(--main-color));
    font-size:35px;
}
.info_row b{
    color:rgb(45,49,58);
    font-size:22px;
}
.info_row p{
    font-size:16px;
    color:rgb(143,142,142);
}

  
.gallery > div{
    max-width:98%;
    margin: auto;
}
.gallery #lightgallery{
    /*-moz-column-count: 5;
    -webkit-column-count: 5;
    column-count: 5;*/
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width:var(--width);
    row-gap:10px;
    column-gap:10px;
    margin:auto;
}
.gallery #lightgallery > div{
    cursor: pointer;
}
.gallery #lightgallery img{
    height: 200px;
    width:100%;
    object-fit: cover;
}
.gallery #lightgallery div > a:last-child{
    position:absolute;
    z-index:20;
    top:0px;
    right:0px;
    background:white;
    color:black;
    line-height:38px;
    text-align:center;
    width:38px;
    height:38px;
    cursor:pointer;
    border:1px solid black;
}
.gallery #lightgallery div > a:last-child{
    text-decoration:none;
    color:black;
    font-size:20px;
}
@media screen and (max-width: 40cm) {
    .gallery #lightgallery{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media screen and (max-width: 30cm) {
    .gallery #lightgallery{
        grid-template-columns: repeat(3, 1fr);
    }  
}
@media screen and (max-width: 20cm) {
    .gallery #lightgallery{
        grid-template-columns: repeat(2, 1fr);
    }  
}
@media screen and (max-width: 8cm) {
    .gallery #lightgallery{
        grid-template-columns: repeat(1, 1fr);
    }  
}



.percent_box{
    position:absolute;
    top:0;
    left:0;
    padding:10px;
    background: rgb(var(--main-color));
    color:white;
    width:auto;
    font-size: 18px;
    border-bottom-right-radius: var(--radius);
    border-top-left-radius: var(--radius);
}
.product_box{
    height:100%;
    cursor: pointer;
    text-align:center;
    transition: 0.3s;
    border-radius: var(--radius);
    background: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 8px -3px
}
.product_box > a{
    text-decoration: none;
    color:black;
}
.product_box:hover{

}
.product_box img{
    height:150px;
    max-height:290px;
    min-height:200px;
    width:100%;
    object-fit:contain;
    border-top-left-radius:var(--radius);
    border-top-right-radius:var(--radius);
}
.product_box a > div:last-child{
    padding:10px;
    display:flex;
    flex-direction: column;
    height:260px;
}
.product_box a > div:last-child > div:first-child{
    flex:1;
}
.product_box .type{
    font-size:14px;
    color:rgba(0,0,0,0.4);
}
.product_box .title{
    /*background: linear-gradient(0deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);*/
}
.product_box .title h2{
    font-size:16px;
    width:100%;
    color:rgb(51,51,51);
    color:rgb(52,59,67);
    overflow: hidden;
    text-overflow: ellipsis;
    text-align:left;
    display: -webkit-box;
    line-clamp: 3; 
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.product_box .description{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 2; 
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size:14px;
    color:rgba(0,0,0,0.6);
}
.product_box .stock{
    font-size:14px;
    color:#2F2F2F;
    width:100%;
    text-align: left;
}
.product_box .stock div{
    border-radius: 50%;
    width:12px;
    height:12px;
    background: #00B221;
}
.product_box .stock > span{
    display:flex;
    align-items:center;
    column-gap:5px;
}
.product_box .price{
    width:100%;
    border-radius: var(--radius);
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    text-align: left;
    column-gap:4px;
    font-size:18px;
    margin:10px 0px 10px 0px;
}
.product_box .price .p{
    font-size:16px;
    text-decoration: line-through;
    color:rgba(160,160,160,1);
}
.product_box .price .pd{
    font-weight: bold;
    color:rgb(209,39,39);
    color:rgb(255,99,0);
    color:rgb(239,40,9);
    text-decoration: none;
}
.product_box a .button{
    background: rgba(var(--main-color),0.8);
    border:none;
}



.products{
    padding:3vw 0px 40px 0px;
    background: rgb(242,242,247);
    background: rgb(246,247,255);
    min-height:80vh;
}

.products > div{
    width:var(--width);
    max-width:96%;
    margin:auto;
}
.products .filters{
    display: flex;
    width:100%;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap:10px;
    column-gap: 2vw;
    padding:12px;
    border-radius: var(--radius);
    background-color: white;
}
.products .filters > div,
.products .filters select{
    flex:1;
    min-width: fit-content;
}
.products .display{
    display: flex;
    width:100%;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap:10px;
    column-gap: 2vw;
    padding:12px;
    border-radius: var(--radius);
    background-color: white;
    margin-bottom:10px;
}
.products .display > div,
.products .display select{
    flex:1;
    min-width: fit-content;
}
.products #product_list{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 8px;
}
.products #product_list > div{

}
.products > .button{
    font-size:20px
}
@media screen and (max-width: 1200px) {
    .products #product_list{
        grid-template-columns: repeat(4, 1fr);
    }  
}
@media screen and (max-width: 900px) {
    .products #product_list{
        grid-template-columns: repeat(3, 1fr);
    }  
}
@media screen and (max-width: 600px) {
    .products #product_list{
        grid-template-columns: repeat(auto-fill, minmax(0%, 48.6%));
    }  
}
@media screen and (max-width: 300px) {
    .products #product_list{
        grid-template-columns: repeat(1, 1fr);
    }  
}


.product{
    width:var(--width);
    max-width:100%;
    margin:auto auto 40px auto;
}
.product > div:first-child{
    background: white;
    padding:40px 15px 40px 15px;
    display:grid;
    grid-template-columns: 50% 50%;
    row-gap: 20px;
    align-items: flex-start;
}
.product > div:first-child > div:first-child > div:first-child{
    display: flex;
    align-items: center;
    justify-content: center;
    height:300px
}
.product > div:first-child > div:last-child{
}
.product div .swiper{
    width:85%;
    cursor:pointer;
}
.product div .swiper-button-prev {
    left: -6px;
    color:rgba(0,0,0,0.8) !important;
}
.product div .swiper-button-next {
    right: -6px;
    color:rgba(0,0,0,0.8) !important;
}
.product div img{
    border-radius: var(--radius);
    height: 100%;
    object-fit: contain;
}
.product h2{
    font-size:20px;
    line-height:150%;
    color:rgb(51,51,51);
}
.product .available,
.product .unavailable{
    font-size:16px;
    display:flex;
    column-gap: 6px;
    align-items: center;
    margin-bottom:20px;
}
.product .available{
    color:rgb(108,164,67);
}
.product .available div{
    width:16px;
    height:16px;
    border-radius: 50%;
    background: rgb(108,164,67);
}
.product .unavailable{
    color:rgba(0,0,0,0.7);
}
.product .unavailable div{
    width:16px;
    height:16px;
    border-radius: 50%;
    background: #DAC400;
}
.product .pc{
    border-radius: var(--radius);
    display: flex;
    align-items: center;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
}
.product .pc > div:first-child{
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap:6px;
}
.product .pc > div:first-child span:first-child{
    text-decoration: line-through;
    font-size:22px;
    color:rgba(150,150,150,1);
}
.product .pc > div:first-child span:last-child{
    font-size:28px;
    color:rgb(239,40,9);
    font-weight: bold;
}
.product .pc > div:last-child input{
    width:120px;
}
.product .eu{
    display: flex;
    column-gap: 6px;
    align-items: center;
    color:rgba(0,0,0,0.5);

}
.product .eu img{
    width:40px;
}
.product .info_span{
    display: flex;
    flex-wrap: wrap;
    font-size:16px;
    color:rgba(0,0,0,0.5);
    column-gap:18px;
    row-gap:14px;
    margin:20px 0px 20px 0px;
}
.product .info_span > span{
    display: flex;
    align-items: center;
    column-gap: 12px;
}
.product .info_span span > i{
    font-size:20px;
    color:rgb(var(--main-color));
    width:20px;
    text-align: center;
}
.product .description{
    font-size:18px;
    color:rgb(51,51,51);
    margin-top:20px;
}
.product .description > h4{
    font-weight: bold;
}
@media screen and (max-width: 20cm) {
    .product{
    }
    .product > div:first-child{
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
    }
    .product h2{
        font-size:20px;
        line-height: 130%;
    }
    .product .pc > div:last-child{
        width: 100%;
    }
    .product .pc > div:last-child .fl,
    .product .pc > div:last-child input{
        width:100%
    }
    .product .pc > div:last-child .button{
        width: 100%;
    }
}



.video{
    margin-top:40px;
}
.video iframe{
    width:100%;
    height:300px;
}

.tabs{
    width:100%;
    margin:40px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.tabs div{
    transition: 0.3s box-shadow ease;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
}
.tabs > div:first-child{
    display:flex;
    background: rgb(242,242,242);
    background: rgb(246,247,255);
}
.tabs > div:nth-child(2){
    display:none;
    padding:30px 20px 30px 20px;
}
.tabs > div:last-child{
    display:none;
    padding:30px 20px 30px 20px;
}
.tabs > div:first-child > div{
    display:flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    flex:1;
    cursor: pointer;
    transition: 0.3s box-shadow ease;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
}
.tabs p{
    line-height:160%;
    color:rgba(0,0,0,0.9)
}
.tabs > div:first-child > div i{
    display:none
}
.tabs .selected{
    background: rgb(255,255,255);
    display:flex !important;
}

@media screen and (max-width: 20cm) {
    
    .tabs label{
        width:100%;
        border:2px solid rgba(0,0,0,0.2);
    }
    .tabs [type=radio]:checked + label{
        border-bottom: none;
    }
    .tabs .tab{
        border:2px solid rgba(0,0,0,0.2);
        order:0;
    }

    .tabs label > i{
        display:block;
        margin-left:auto;
        margin-right:0;
    }
    #tb2{
        border:2px solid rgba(0,0,0,0.2);
        border-top:none;
        border-bottom:none;
    }
    #tab2{
        border-bottom:none;
    }
    .tabs > div:nth-child(2){
        padding:35px 10px 35px 10px;
    }
    .tabs > div:last-child{
        padding:35px 10px 35px 10px;
    }
    .tabs p{
        line-height:145%;
        color:rgba(0,0,0,0.9)
    }
}


.services{
    background: rgb(242,242,247);
    background: rgb(246,247,255);
    padding:40px 0px 80px 0px;
}
.services h3{
    margin-top:0;
    font-size:26px;
}
.services .checkbox{
    font-size:14px;
    text-align:left;
    display: flex;
    align-items: center;
    margin:8px 0px 0px 0px;
    column-gap:5px;
}
.services .swiper-pagination {
    position: relative !important;
    margin-bottom:20px;
    z-index:9;
}
.services .swiper-slide > div{
    max-width: 96%;
    width:var(--width);
}
.services .slide1 > div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap:20px;
    column-gap:20px;
}
.services .data{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap:10px;
    margin: auto auto auto auto;
    background-color: white;
    border-radius: var(--radius);
    padding:20px 15px 15px 15px;
    width:500px !important;
    font-size:16px;
}
.services .data > div:first-child{
    display:flex;
    column-gap:0px;
    row-gap:15px;
    text-align: left;
    border:1px solid rgba(0,0,0,0.2);
    border-radius: var(--radius);
}
.services .data > div:first-child img{
    height:100%;
    width:400px;
    object-fit: cover;
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
}
.services .data > div:first-child > div:last-child{
    display: flex;
    flex-direction: column;
    row-gap:20px;
    width: 100%;
    padding:15px;
}
.services .data > div:first-child > div:last-child > div:first-child{
    display: flex;
    justify-content: space-between;
    row-gap:5px;
    margin-bottom:8px;
}
.services .data > div:first-child > div:last-child > div:first-child > div:last-child{
    text-decoration: underline;
    cursor: pointer;
    color:rgba(0,0,0,0.7);
    font-size:14px;
}
.services .data > div:first-child > div:last-child > div:last-child{
    display: flex;
    row-gap:8px;
    flex-direction: column;
    font-size:14px;
}
.services .data > div:first-child > div:last-child > div:last-child > div{
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid rgba(0,0,0,0.1);
    padding-bottom:5px
}
.services .slide3 form{
    display: flex;
    flex-direction: column;
    row-gap:10px;
}
.services .slide3 .field{
    width: 100%;
}

.services .service{
    display:flex;
    background-color: white;
    border-radius: var(--radius);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 8px -3px;
}
.services .service > div:first-child{
    flex:1;
}
.services .service > div:last-child{
    display:flex;
    flex-direction: column;
    align-content: flex-start;
    padding:30px;
    flex:1;
}
.services .service span{
    color:rgba(0,0,0,0.6);
}
.services .service p{
    color:rgba(0,0,0,0.8);
    line-height:140%;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.services .service img{
    width:100%;
    height:100%;
    object-fit: cover;
    border-bottom-left-radius: var(--radius);
    border-top-left-radius: var(--radius);
}
.services .service .button{
    margin-top:auto
}
.services .reservation > div:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius);
    width: fit-content;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 8px -3px;
}
.services .reservation > div:first-child input{
    height:50px;
    border-radius: 0px;
    background: rgb(var(--main-color));
    color:white;
    border: none;
    cursor: pointer;
    padding:0px 10px 0px 10px;
}
.services .reservation > div:first-child span{
    font-size:18px;
    height:50px;
    line-height:50px;
    width:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(var(--main-color));
}
.services .reservation > div:first-child span:first-child{
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
    border-right:1px solid rgb(242,242,247);
}
.services .reservation > div:first-child span:last-child{
    border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    border-left:1px solid rgb(242,242,247);
}
.services .reservation .times{
    border-radius: var(--radius);
    padding:14px;   
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    font-size:14px;
    margin:20px auto 20px auto;
}
.services .reservation > div:nth-child(2) > div{
    flex:1;
    padding:10px 20px 10px 20px;
    color:rgba(0,0,0,0.8);
    border:1px solid rgba(0,0,0,0.4);
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    border-radius: var(--radius);
}
.services .reservation > div:nth-child(2) > div:hover,
.services .reservation > div:nth-child(2) .selected{
    background-color:  rgba(var(--main-color));
    border:1px solid rgba(var(--main-color));
    color:white;
    font-weight: bold;
}
.services .reservation > div:nth-child(3){
    width: fit-content;
    margin: auto;
}
.services .reservation > div:nth-child(2) > div > div:first-child{
    font-weight: bold;
    margin-bottom:10px
}
@media screen and (max-width: 1000px) {
    .services .service{
        flex-direction: column;
    }  
    .services .service img{
        width:100%;
        height:250px;
        object-fit: cover;
        border-bottom-left-radius: 0;
        border-top-right-radius: var(--radius);
    }
}
@media screen and (max-width: 700px) {
    
    .services .reservation > div:nth-child(2){
        grid-template-columns: repeat(4, 1fr);
    }
    .reservation{
        position: relative;
    }
    .services .reservation > div:last-child{
        width:100%;
    }
}
@media screen and (max-width: 500px) {
    .services .reservation > div:nth-child(2){
        grid-template-columns: repeat(3, 1fr);
    }
    .services > div{
        grid-template-columns: repeat(1, 1fr);
    }
    .services .service > div:last-child{
        padding:10px;
    }
    .services .swiper_services .slide1 > div{
        grid-template-columns: repeat(1, 1fr);
    }
    .services .data > div:first-child > div:first-child{
        display: none;
    }
}
@media screen and (max-width: 350px) {
    .services .reservation > div:nth-child(2){
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 150px) {
    .services .reservation > div:nth-child(2){
        grid-template-columns: repeat(1, 1fr);
    }  
}



.contact{
    padding:30px 0px 30px 0px;
    width:var(--width);
    max-width:96%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:auto;
}
.contact > div{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    column-gap:20px;
    row-gap:2vw;
    width:100%;
}
.contact > div > div{
    flex:1;
}
.contact .chat{
    display: flex;
    flex-direction: column;
    align-items: left;
    border-bottom:1px solid rgba(0,0,0,0.1);
    padding-bottom:30px;
}
.contact .chat a{
    text-align: center;
    font-size:20px;
    color:white;
    padding:8px 16px 8px 16px;
    text-decoration: none;
    border-radius: 10px;
    width:fit-content;
    background: linear-gradient(135deg, #0084FF, #FF6A88);
}
.contact i{
    margin-right:6px;
}
.contact h3{
    text-align: left;
    width:100%;
}
.contact h3 i{
    color:rgb(var(--main-color));
    font-size:25px;
}
.contact p{
    text-align: left;
    color:rgba(0,0,0,0.5);
    font-size:16px;
    line-height:150%;
}
.contact form input,
.contact form textarea{
    margin-bottom:10px;
}
.contact form .button{
    width: 100%;
}
@media screen and (max-width: 20cm) {
    .contact > div{
        flex-direction: column;
    }
}

.info{
    width:var(--width);
    max-width:96%;
    margin:auto;
    padding:30px 0px 30px 0px;
}
.info > div{
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 20px;
    width:fit-content;
    margin:auto auto 30px auto;
}
.info > div a{
}
.info h2{
    color:rgba(0,0,0,0.8);
    text-align: center;
    font-weight: bold;
}
.info p{
    font-size:14px;
    line-height:180%;
    color:rgba(0,0,0,0.6);
    text-align: center;
}
.info a {
    list-style: none;
    width:fit-content;
    display: block;
}
.info ul li::before {
    content: "\2022";
    color:rgb(var(--main-color));
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}
.info a{
    color:rgb(var(--main-color));
    font-size:16px;
}
@media screen and (max-width: 20cm) {
    .info div a{
        width:100%;
        text-align: center;
    }
}

.terms{
    width:var(--width);
    max-width:96%;
    margin:auto;
    padding:40px 0px 30px 0px;
}

.terms p{
    font-size:16px;
    color:rgba(0,0,0,0.6);
    text-align: left;
}


.reset{
    width:var(--width);
    max-width:96%;
    margin:auto;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-top:20px;
    margin-bottom:50px;
    padding:15px;
}
.reset .fl{
    margin-top:10px;
}
.reset .button{
    margin-top:10px;
}


.cart{
 
}
.cart{
    width:600px;
}
.cart > div{
    display: flex;
    column-gap: 15px;
    align-items: center;
    padding:8px 5px 8px 5px;
    border-bottom:1px solid rgba(0,0,0,0.1);
    font-size:18px;
    width: 100%;
}
.cart > div:last-child{
    border:none;
}
.cart .name{
    display: flex;
    align-items: center;
    flex-grow: 1;
    font-size:14px;
}
.cart .name a{
    color:rgba(0,0,0,0.8);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

}
.cart .name img{
    height:45px;
    vertical-align: middle;
    margin:0 10px 0 0;
}
.cart .quantity{

}
.cart .price{
    flex-grow: 1;
    min-width:75px;
    font-size:14px;
    text-align: left;
}
.cart .remove{
    font-size:25px;
    justify-self: flex-end;
}
.cart .modal_body > div:last-child{
    border-bottom:none;
}
.cart .field{
    width:60px;
}
.cart .remove{
    cursor: pointer;
}
.cart_footer .sum{
    font-size:20px;
    margin-bottom:20px;
    font-weight: bold;
    display:flex;
    justify-content: flex-end;
}
.cart_footer > div:nth-child(2){
    display:flex;
    justify-content: flex-end;
    row-gap:10px;
    column-gap:10px;
}
.cart_footer .button{
    flex:1;
}
.cart_empty{
    text-align:center;
    width:fit-content;
    padding:40px 0px 60px 0px;
    margin:auto
}
.cart_empty h2{
    width:fit-content;
}
@media screen and (max-width: 350px) {
    .cart > div{
        column-gap: 10px;
    }
    .cart .name{
        max-width:30%;
        flex-wrap: wrap;
    }
    .cart .field{
        width:40px;
    }
}

.checkout{
    padding:40px 0px 50px 0px;
}
.checkout h3{
    font-size:20px;
    margin:20px 0px 20px 0px;
}
.checkout > p{
    text-align: center;
    font-size:14px;
    color:rgba(0,0,0,0.6);
}
.checkout b{
    color:rgba(0,0,0,1);
}
.checkout form{
    width:var(--width);
    max-width:96%;
    margin:auto;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    column-gap: 20px;
    row-gap: 20px;
}
.checkout form > div{
    background: white;
    padding:15px;
    border-radius: var(--radius);
    height:fit-content
}
.checkout form .button{
    margin:10px 0px 0px 0px;
    width: 100%;
}
.checkout .data{

}
.checkout .data h3{
    margin-bottom:0;
}
.checkout .data p{
    margin-top:10px;
    color:rgba(0,0,0,0.8)
}
.checkout .data > div:last-child{
    display: flex;
    flex-wrap: wrap;
    height:fit-content;
    row-gap:15px;
    column-gap:15px;
    margin-top:20px;
}
.checkout .data > div:last-child > div{
    width: 100%;
}
.checkout .data p span{
    text-decoration: underline;
    color:rgb(var(--main-color));
    cursor: pointer;
}
.checkout .cart_box{
    margin-bottom:24px;

}
.checkout .cart_box span{
    color: rgba(var(--main-color));
    cursor: pointer;
    text-decoration: underline;
}
.checkout .cart_box > div:first-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0;
    padding:0px 0px 15px 0px;;

}
.checkout .cart{
    border:1px solid rgba(0,0,0,0.2);
    border-radius: var(--radius);
    padding:10px;
    width: 100%;
}
.checkout .cart .quantity{
    font-size:14px
}
.checkout .pay{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom:20px;
}
.checkout .pay .radio{
    width:100%;
    display: flex;
    flex-direction: column;
    border:1px solid rgba(0,0,0,0.2);
    border-radius: var(--radius);
}
.checkout .pay .radio > div{
    width:100%;
    height:60px;
    display: flex;
    align-items: center;
    font-size:16px;
    border-bottom:1px solid rgba(0,0,0,0.2);
}
.checkout .pay .radio > div:last-child{
    border:none;
}
.checkout .pay .radio div input{
    z-index:4;
    margin:10px;
    cursor: pointer;
}
.checkout .pay .radio > div > label{
    position: absolute;
    width:100%;
    height: 100%;
    line-height: 60px;
    padding-left:40px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.checkout .pay .radio > div > input:hover + label,
.checkout .pay .radio > div > label:hover{
    background-color: rgba(0,0,0,0.1);
}
.checkout .pay .radio div img{
    height:100%;
    padding:5px;
    float:left;
    margin-right:10px
}
.checkout .cupon,
.checkout .cupon .input_button{
    width: 100%;
}
.checkout .cupon .input_button .fl{
    flex:1 !important
}
.checkout .cupon .input_button .button{
    margin:0;
    width:fit-content;
}
.checkout .sum{
    display: flex;
    row-gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding:10px;
    margin-top:20px;
    background: rgba(0,0,0,0.1)   
}
.checkout .sum > span{
    color:rgba(0,0,0,0.6);
}
.checkout .sum span:last-child b{
    font-size:22px;
    margin-right:5px
}


.login .modal_footer{
    display: flex;
    justify-content: flex-start;
    border-top:1px solid rgba(0,0,0,0.1)
}
.login .modal_body > div{
}
.login form p{
    font-size:14px;
    color:rgba(0,0,0,0.5);
}
.login h3{
    font-size:18px;
    color: rgba(0,0,0,0.8);
}
.login .modal_body h3{
    margin:5px 0px 5px 0px;
}
.login .modal_body > div:nth-child(3){
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}
.login .checkbox{
    display: flex;
    align-items: center;
    column-gap: 5px;
    font-size:12px;
}
.login .checkbox > div{
    display: flex;
    flex-direction: column;
}
.login .checkbox label{
    font-size:12px;
    font-weight: bold;
}
.login .checkbox input{
    width:18px;
    height:18px;
}
.login .checkbox a{
    color:rgb(var(--second-color));
}
.login .reset_link{
    text-decoration: underline;
    font-size: 14px;;
    cursor:pointer;
}
.login .reset_link:hover{
    color:rgb(var(--main-color));
}
.login .input_button{
    width:100%;
    margin-top:10px;
}
.login .modal_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    row-gap: 10px;
    column-gap: 10px;
    border-top:1px solid rgba(0,0,0,0.1)
}
.login .modal_footer .button{
    flex:1;
}

#register_finish{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
}
#register_finish i{
    color:rgb(var(--main-color));
    font-size:50px !important;
}
#register_finish p{
    text-align: center;
    font-size:16px;
}

.user{
    width:100%;
    padding:0px 0px 40px 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.user > div{
    width:var(--width);
    max-width:95%;
    margin:auto;
}
.user .select{
    margin:20px auto 20px auto;
}
.user .select select{
    width:auto
}
.user form > div:first-child{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    grid-auto-rows: auto;
}
.user form > div:last-child{
    width:100%;
    position: fixed;
    bottom:0;
    left:0;
    display: flex;
    justify-content: center;
    z-index: 15;
}
.user form > div:last-child > div{
    background-color: white;
    border-radius: var(--radius);
    padding:20px;
    margin-top:20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    column-gap:10px;
    row-gap:10px;
    width:var(--width);
    max-width: 100%;
}
.user form > div:first-child > div{
    background-color: white;
    border-radius: var(--radius);
    padding:20px;
    /*flex: 0 0 calc(50% - 20px);*/
    display:flex;
    flex-direction: column;
    row-gap:15px;
    height:fit-content
}
.user form p{
    color:rgb(251,60,98);
}
.user h2{
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    color:rgb(60,60,59);
    font-size:22px
}

.orders{
    display: flex;
    flex-direction: column;
    row-gap:20px
}
.user .orders > div{
    display: flex;
    flex-wrap: wrap;
    row-gap:30px;
    column-gap: 100px;
    background: white;
    border-radius: var(--radius);
    width: fit-content;
    padding:20px;
}
.user .orders > div > div:first-child{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-size: 14px;
    color:rgba(0,0,0,0.7)
}
.user .orders > div > div:first-child > div{
    display: flex;
    flex-direction: column;
}
.user .orders > div > div:first-child > div b{
    color:black;
}
.user .orders > div > div:last-child > div{
    display: flex;
    column-gap: 20px;
    padding:15px 0px 15px 0px;
    align-items: center;
    font-weight: bold;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.user .orders > div > div:last-child > div:last-child{
    border:none;
}
.user .orders > div > div:last-child > div > div:nth-child(2){
    color:rgba(0,0,0,0.6);
    font-size:14px;
}
.user .orders > div > div:last-child img{
    width:80px;
    object-fit: contain;
    border-radius: var(--radius);
}

@media screen and (max-width: 300px) {
    .user > div{
        margin-bottom:10px;
    }
}
@media screen and (max-width: 600px) {
    .user .select select{
        width:100%;
    }
    .user form > div:first-child{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        grid-auto-rows: auto;
    }
    .user form > div:last-child > div{
        flex-direction: column;
    }
    .user form .button{
        width:100%
    }
    .user form p{
        text-align:center;
    }

    .user .orders > div > div:last-child > div{
        flex-direction: column;
        align-items: flex-start;
        row-gap:10px
    }
}



.admin{
    margin:auto;
    display: flex;
    justify-content: center;
    justify-content:left;
    height:100vh;
    max-height:100vh;
}
.admin .modal .button{
    width: 100%;
}
.admin .admin_header{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    background:rgb(var(--main-color));
    color:white;
}
.admin .admin_header > div:first-child{
    color:white;
    padding:15px 30px 15px 30px;
    text-align:left;
    font-size:16px;
    margin-bottom:10px;
    border-bottom:1px solid rgba(255,255,255,0.4);
}
.admin .admin_header > div:first-child a{
    color:white;
}
.admin .admin_header > div:last-child{
    overflow-x: auto;
    top:4px;
}
.admin .admin_header > div:last-child > div{
    font-weight:normal;
    padding:12px 10px 16px 10px;
    cursor:pointer;
    transition:0.3s;
    font-size:15px;
}
.admin .admin_header > div:last-child > div:hover{
    color:rgb(var(--main-color));
    background: rgb(246,247,255);
    cursor:pointer;
}
.admin .admin_header .selected{
    color:rgb(var(--main-color));
    background: rgb(246,247,255);
}
.admin .admin_body{
    padding:20px;
    flex:1;
    height:100vh;
    max-height:100vh;
    overflow:scroll;
}
.admin .admin_body > div > div:first-child{
    display:flex;
    align-items:center;
    column-gap:10px
}
.admin .item_list{
    margin:20px 0px 20px 0px;
    overflow: hidden;
    max-height:50vh;
    overflow:scroll;
    overflow-x:hidden;
}
.admin .item_list > div > div:first-child > a{
    color:rgb(var(--main-color));
}
.admin .item_list > div{
    display: flex;
    align-items: center;
    padding:10px;
    max-width:100%;
    border-top:1px solid rgba(0,0,0,0.1);
    column-gap: 0px;
    white-space: nowrap;
    column-gap:22px;
}
.admin .item_list > div:first-child{
    border-top:none;
}
.admin .item_list > div > div:nth-child(1){
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
}
.admin .item_list > div > div:nth-child(2){
    margin-left:auto;
    margin-right:0;
}
.admin .item_list > div > div > .button{
    font-size:14px;
    padding:4px;
    display:inline-block;
}


.admin .admin_gallery > div:first-child{
    display:flex;
    align-items:center;
    column-gap:10px
}

.admin .admin_settings .field{
    margin-bottom:12px;
}
@media screen and (max-width: 1000px) {
    .admin{
        flex-direction:column;
    }
    .admin .admin_header > div:last-child{
        display:flex;
    }
    .admin .admin_header > div:last-child  > div{
        flex:1;
        text-align:center;
        border-top-left-radius:var(--radius);
        border-top-right-radius:var(--radius);
    }
}
@media screen and (max-width: 400px) {
    .admin .admin_body{
        padding:40px 10px 10px 10px;
    }
}




.modal_premise .modal_body{
    display: flex;
    flex-direction: column;
    row-gap:20px;
}
.modal_premise .opentimes{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}
.modal_premise .opentimes > div{
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    row-gap: 5px;
}
.modal_premise .opentimes > div > div:first-child{
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.modal_premise .opentimes > div > div:last-child{
    display: flex;
    flex-wrap: nowrap;
    column-gap: 10px;
}
.modal_premise .opentimes b{
    flex:1;
    color:red;
    font-size: 18px;;
}
.modal_premise .field{
    flex:1;width:100%
}
.modal_premise .button{
    width:100%
}



footer{
    width:100%;
    /*rgb(60,135,181)*/
    background: rgba(var(--main-color),1);
}
footer > div > div{
    display:flex;
    max-width:92%;
    width:var(--width);
    margin:auto
}
footer > div:first-child > div{
    display:flex;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 20px;
    padding:30px 0px 30px 0px;
}
footer > div:first-child > div > div{
    flex:1;
}
footer > div:first-child > div > div > div{
    display: flex;
    flex-direction: column;
    row-gap:10px;
}
footer > div:first-child > div > div > div a{
    white-space: nowrap;
}
footer > div a{
    color:white;
    font-size:14px;
}
footer > div p{
    color:white;
    font-weight: bold;
    font-size:20px;
    margin:0px 0px 10px 0px;
}
footer .pay img{
    width:300px;
    min-width: 180px;
    max-width: 100%;
}
footer > div:last-child{
    padding:15px 0px 15px 0px;
    background: rgba(var(--main-color),0.9);
}
footer > div:last-child > div{
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    row-gap: 20px;
}
footer > div:last-child > div > div:first-child{
    font-size:14px;
}

footer .social{
    display:flex;
    column-gap:15px
}
footer .social i{
    color:white;
    font-size:28px;
}
@media screen and (max-width: 400px) {
    footer > div:last-child > div > div:first-child{
        -webkit-order:1;
        order:1;
    }
    footer > div:last-child > div > div:last-child{
        -webkit-order:2;
        order:2;
    }
}